/* ROOT PANEL */
.root {
     -fx-background-image: url("BG_3.png");
     -fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.button:hover {
	-fx-text-fill: greenyellow;
}

.button {
	-fx-border-radius: 5;
	-fx-border-width: 1;
	-fx-border-color: greenyellow;
	-fx-background-color: #3c3c3c;
	-fx-text-fill: darkgrey;
}

.button:disabled {
	-fx-border-radius: 5;
	-fx-border-width: 1;
	-fx-border-color: darkgrey;
	-fx-background-color: #3c3c3c;
	-fx-text-fill: darkgrey;
}

.tab-content-area {
	-fx-background-color: #e6e6e6;
}

.tab-header-area {
   -fx-background-image: url("BG_3.png");
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width:90px;
}

.tab-content-area {
	 -fx-background-color: #3c3c3c;
	 -fx-text-fill: darkgrey;
}

.tab {
	-fx-background-color: #e6e6e6;
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

.tab *.tab-content-area {
	-fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected {
    -fx-background-color: #3c3c3c;
}


.tab-pane.floating *.tab-header-area {
	-fx-background-color: #3c3c3c;

}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: greenyellow;
}
.menu {
	-fx-background-color: black;
}

.menu:hover > .label {
	-fx-text-fill: greenyellow;
}

.menu:showing > .label {
	-fx-text-fill: greenyellow;
}

.menu-item:hover .label {
	-fx-background-color: black;
	-fx-text-fill: greenyellow;
}

.menu-item:focused .label {
	-fx-background-color: black;
	-fx-text-fill: greenyellow;
}

.context-menu {
	-fx-background-color: black;
}

/* EDITOR PANEL */
.tabPane {
	-fx-background-color: black;
}

/* SKIN MENU STUFF STARTS HERE */
#skin-menu {
	-fx-background-color: black;
}
#skin-menu .label {
	-fx-text-fill: darkgrey;
}


/* FILE CONTROLS (NOT SKINS) */
#fileControls{
	-fx-background-color: black;
}

#fileBtns {
	-fx-background-color: black;
	-fx-text-fill: darkgrey;
}


#playBtn {
	-fx-border-color: transparent;
	-fx-graphic: url("/skins/green_GUI/Green_01.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#playBtn:hover {
	-fx-graphic: url("/skins/green_GUI/Green_07.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#playBtn:armed {
	-fx-graphic: url("/skins/green_GUI/Green_19.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#pauseBtn {
	-fx-border-color: transparent;
	-fx-graphic: url("/skins/green_GUI/Green_02.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#pauseBtn:hover {
	-fx-graphic: url("/skins/green_GUI/Green_08.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#pauseBtn:armed {
	-fx-graphic: url("/skins/green_GUI/Green_20.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#stopBtn {
	-fx-border-color: transparent;
	-fx-graphic: url("/skins/green_GUI/Green_03.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#stopBtn:hover {
	-fx-graphic: url("/skins/green_GUI/Green_09.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#stopBtn:armed {
	-fx-graphic: url("/skins/green_GUI/Green_21.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipFwdBtn {
	-fx-border-color: transparent;
	-fx-graphic: url("/skins/green_GUI/Green_05.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipFwdBtn:hover {
	-fx-graphic: url("/skins/green_GUI/Green_11.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipFwdBtn:armed {
	-fx-graphic: url("/skins/green_GUI/Green_23.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipBackBtn {
	-fx-border-color: transparent;
	-fx-graphic: url("/skins/green_GUI/Green_04.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipBackBtn:hover {
	-fx-graphic: url("/skins/green_GUI/Green_10.png");
}

#skipBackBtn:armed {
	-fx-graphic: url("/skins/green_GUI/Green_22.png");
}
