.root {
     -fx-background-image: url("BG_3.png");
}

#fileControls{
	-fx-background-color: black;
}

#openFileBtn, #saveFileBtn {
	-fx-background-color: black;
	-fx-text-fill: darkgrey;
}
#openFileBtn:hover, #saveFileBtn:hover {
	-fx-text-fill:  aquamarine;
}
