.root {
     -fx-background-image: url("BG_3.png");
}

#fileControls{
	-fx-background-color: black;
}

#fileBtns {
	-fx-background-color: black;
	-fx-text-fill: darkgrey;
}
#fileBtns:hover {
	-fx-text-fill:  aquamarine;
}

#playBtn {
	-fx-graphic: url("/skins/purple_GUI/purple_01.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#playBtn:hover {
	-fx-graphic: url("/skins/purple_GUI/purple_06.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#playBtn:armed {
	-fx-graphic: url("/skins/purple_GUI/purple_11.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#pauseBtn {
	-fx-graphic: url("/skins/purple_GUI/purple_02.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#pauseBtn:hover {
	-fx-graphic: url("/skins/purple_GUI/purple_07.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#pauseBtn:armed {
	-fx-graphic: url("/skins/purple_GUI/purple_12.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#stopBtn {
	-fx-graphic: url("/skins/purple_GUI/purple_03.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#stopBtn:hover {
	-fx-graphic: url("/skins/purple_GUI/purple_08.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#stopBtn:armed {
	-fx-graphic: url("/skins/purple_GUI/purple_13.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipFwdBtn {
	-fx-graphic: url("/skins/purple_GUI/purple_05.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipFwdBtn:hover {
	-fx-graphic: url("/skins/purple_GUI/purple_10.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipFwdBtn:armed {
	-fx-graphic: url("/skins/purple_GUI/purple_15.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipBackBtn {
	-fx-graphic: url("/skins/purple_GUI/purple_04.png");
	-fx-background-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#skipBackBtn:hover {
	-fx-graphic: url("/skins/purple_GUI/purple_09.png");
}

#skipBackBtn:armed {
	-fx-graphic: url("/skins/purple_GUI/purple_14.png");
}
